@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
    font-family: Poppins;
}
#popup{
    background: #fff;
    box-shadow: 5px 5px 5px #00000015;
    border: none;
    border-radius: 8px;
}
#popup::backdrop{
    backdrop-filter: blur(5px);
}
#product_box{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#products{
    display: flex;
    gap: 20px;
    padding: 10px;
    box-sizing: border-box;
    justify-content: space-around;
}
#popup{
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    position: relative;

}        
#popup .cancel{
    position: absolute;
    right: 30px;
    top: 50px;
}
#popup img{
    width: 300px;
    height: 300px;
}
#products img{
    width: 260px;
    height: 260px;
    padding-top: 5px;
}
#products p{
    margin: 0 0 7px 0;
    height: 60px;
    width: 270px;
    word-wrap: break-word;
}