.order_data img{
    width: 260px;
    height: 273px;
    padding-top: 5px;
}
.order_data  div p{
    margin: 0 0 7px 0;
    height: 60px;
    width: 270px;
    word-wrap: break-word;
    
}
.order_data{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.order_data div{
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
}
.font{
    font-family: sans-serif;
    text-decoration: none;
}
.order_data h4{
    margin: 10px 0;
}
.eatcname{
    margin-top: 0;
}